<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Production" connectionString="SERVER=localhost; DATABASE=auntiedot_site; USER=auntiedot_admin; PASSWORD='4Sy03P92658G165kD6p5';" providerName="System.Data.SqlClient" />
    <add name="Sandbox" connectionString="SERVER=localhost; DATABASE=auntiedot_site; USER=auntiedot_admin; PASSWORD='test';" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseType" value="Production" />
    <add key="GoSquaredTokenAuntieDot" value="GSN-180023-K" />
  </appSettings>
  <system.web>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ServiceRecordRewrite">
          <match url="^ServiceRecord/([^/\.]+)/?$" ignoreCase="false" />
          <action type="Rewrite" url="ServiceRecord/Default.aspx?gt={R:1}" appendQueryString="false" />
        </rule>
        <rule name="RemoveASPX1" stopProcessing="true">
          <match url="^(.+)\.aspx$" />
          <conditions>
            <add input="{THE_REQUEST}" pattern="^GET\s.+\.aspx" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="RemoveASPX2" stopProcessing="true">
          <match url="." ignoreCase="false" />
          <conditions>
            <add input="{URL}" pattern="\.aspx$" negate="true" />
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="{URL}.aspx" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
